@model IEnumerable<MVCApp.Course>
@using MVCApp.Utilities

@{
    ViewBag.Title = "Courses";
    ViewBag.Layout = "~/Views/Shared/_Layout.cshtml";

    string currentSort = ViewBag.CurrentSort;

    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "courseName";
    }
}

<h2>Courses</h2>

<table class="table">
    <tr>
        <th>
            Course ID
        </th>
        <th>
            @Html.ActionLink("Course Name", "Courses", Request.QueryString.ToRouteValueDictionary("sortOrder", (string)ViewBag.CourseNameSortParam))
            @Html.SortIdentifier(currentSort, "courseName")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.ActionLink("Students", "Students", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
$(document).ready(function()
{
  $("tr:even").css("background-color", "white");
  $("tr:odd").css("background-color", "azure");
});
</script>